@model IEnumerable <Football.Models.Footballs.ListTactics >

<h2 class="text-center">Tactics - Page @ViewBag.CurrentPage</h2>

@foreach (var tactic in Model)
{
    <div class="row mt-60">
        <div class="col-md-6">
            <img src="@tactic.Image" class="img-responsive"/>
        </div>
        <div class="col-md-6">
            <h3>@tactic.TacticName @tactic.Formation</h3>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Football/Details/@tactic.Id" class="btn btn-default">Learn More</a>
            }
            <br />
            @if (!User.Identity.IsAuthenticated)
            {
                <h3>To view more please login</h3> 
            }                          
         </div>
    </div>

}

<p class="text-center mt-60">
    <a href="/Football/All?page=@(ViewBag.CurrentPage - 1)" class="btn btn-primary" @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)>Previos <<</a>
    <a href="/Football/All?page=@(ViewBag.CurrentPage + 1)" class="btn btn-primary" @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)>Next>></a>
</p>
