@model Football.Models.Footballs.TacticsDetails

<div class="row mt-60 ">
    <div class="col-md-6 ">
        <img src="@Model.Image" class="img-responsive" />
    </div>

    <div class="col-md-6">
        <h1>Tactic Name:<span style="background-color:green"> @Model.TacticName</span> </h1>
    </div>
@if (User.Identity.IsAuthenticated)
{ 
    <div class="col-md-6">
        <h2>Tactic Formation: @Model.Formation</h2>
        <br />  
        <h3>@Model.Description</h3>
        <br />
        <h3>@Model.PlayerPosition</h3>
    </div>
    <br />
}
    <h4 class="text-center mt-60" >
        @if (!User.Identity.IsAuthenticated)
        {
            <p>To see more please <span class="btn btn-block" ><a href="/Account/Login">Login</a></span></p>
        }
    </h4>
</div>


<p class="text-right">
     <span style="color:Highlight">--author</span> @Model.Id
</p>

<div>
    <footer class="text-center"><div class="form-group">
                
            </div>
        @if (User.Identity.IsAuthenticated )
        {
            @Html.ActionLink("Edit", "Edit", "Football", new { Model.Id }, new { @class = "btn btn-success btn-xs" })        
            @Html.ActionLink("Delete", "Delete", "Football", new { Model.Id }, new { @class = "btn btn-danger btn-xs" })
        }
            @Html.ActionLink("Back", "All", "Football", null, new { @class = "btn btn-default btn-xs" })
    </footer>
</div>
